// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1D4466;
$green: #067C4D;
$red: #860000;
$light: #e9ecef;

// Alerts
$alert-margin-bottom: 0px;
