@charset "utf-8";

// Typography
@font-face {
    font-family: nunito;
    src: url("/fonts/Nunito/Nunito-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: nunito;
    src: url("/fonts/Nunito/Nunito-Bold.ttf");
    font-weight: bold;
}

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Additional CSS
@import '../css/coshh.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
