.icon-spacing {
    display: inline-block;
    text-align: center;
    width: 15px !important;
}
.banner-logo {
    height: 40px;
}
input#file {
    visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0;
}
